/* 七楼 */
#floor-7 h3 ol li a.display{border-top:4px solid #e00;color: #e00;}
#floor-7 .box{margin: 0;}
#floor-7 .box aside.float-left div{background: #eee;}
#floor-7 .box aside.float-left div h4{color: #fc65b6;}
#floor-7 .box div.float-left ul{margin: 0;width: 950px;}
