/* 五楼 */
#floor-5 h3 div a{background: #b17f4a;}
#floor-5 h3 ol li a.display{border-top:4px solid #b17f4a;color: #b17f4a;}
#floor-5 .box aside.float-left div{background: #ffebd3;}
#floor-5 .box aside.float-left div h4{color: #b17f4a;}
