/* 六楼 */
#floor-6 h3 div a{background: #fc65b6;}
#floor-6 h3 ol li a.display{border-top:4px solid #fc65b6;color: #fc65b6;}
#floor-6 .box aside.float-left div{background: #eee;}
#floor-6 .box aside.float-left div h4{color: #fc65b6;}
